/* BACKGROUND */
.background {
    background-color: rgb(31,35,46);
}

.vid {
    width: 100%;
}

/* NAV BAR */
.navbar {
font-family: Chalkduster;
color: rgb(236, 171, 124);
}

.font {
    font-size: xx-large;
}

/* FORM BOXES STYLE */
.form-box{
background-color: rgba(0, 0, 0, 0.424);
}

.style {
    box-shadow: 0px 0px 5px 5px rgb(236, 171, 124); 
}

/* INPUTS */
.input {
    background-color: rgb(31,35,46); color: rgb(236, 171, 124); border-color: rgb(236, 171, 124);
}